@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  padding: 20px 40px;
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
	height: 45px;
	width: 90%;
	margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

input::placeholder {
	color: transparent;
}


.label {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 0 4px;
	background-color: white;
	color: #b0aac0;
	font-size: 16px;
	transition: 0.5s;
	z-index: 0; /* z-index thấp giúp label hiện ẩn sau elements cấp cao hơn khi bị đè lên nhau, user có thể đặt trỏ chuột lên mà không bị vướng */
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  font-size: 14px;
  font-weight: 450;
  color: purple;
  z-index: 10; /* z-index cao đảm bảo label sẽ có priority cao hơn hộp input, đè lên input mà không bị overlap*/
}

.input:focus {
  border: 2px solid purple;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  font-size: 14px;
  font-weight: 450;
  z-index: 10;
}